<div class="headerBar">
  <h1>Welcome!</h1>
  <h2>Below are the projects that are currently available to use and view.</h2>
</div>
<div class="body">
<mat-card [routerLink]="'/vigenere'" class="homework clickable">
  <mat-card-header>
    <mat-card-title>Vigenere</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../assets/vigenere_img.jpg" alt="Photo of a Shiba Inu">
</mat-card>
  <!-- <mat-card class="homework">
    <mat-card-header>
      <mat-card-title>Homework Tools</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="homeworkProjects">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td [routerLink]="'/vigenere'" mat-cell *matCellDef="let project"> {{project.name}} </td>
        </ng-container>

        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td [routerLink]="'/vigenere'" mat-cell *matCellDef="let project"> {{project.description}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="projectDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: projectDisplay;"></tr>
      </table>
    </mat-card-content>
  </mat-card> -->
  <mat-card class="data clickable">
    <mat-card-header>
      <mat-card-title>Data Modification</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataProjects">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let project"> {{project.name}} </td>
        </ng-container>

        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let project"> {{project.description}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="projectDisplay"></tr>
        <tr class="clickable" mat-row *matRowDef="let row; columns: projectDisplay;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
