/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.headerBar {
  font-family: 'Roboto','Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 64px;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 400;
}

.clickable {
  cursor: pointer;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}